/* Estilo base de la barra */
.navbar ul {
    list-style-type: none; /* corregido */
    background-color: #a89595;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar {
    font-family: Arial, sans-serif;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 35px;
    text-decoration: none; /* quita el subrayado */
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
}

/* efecto hover */
.navbar li a:hover {
    background-color: #555;
    color: #fff;
    border-bottom: 3px solid #f1a008;
}